#search {
    position: absolute;
    right: 33%;
    bottom: 56%;
    width: 582px;
    height: 44px;
    outline: 1px solid rgb(228, 224, 224);
    border-radius: 25px;
}
/*rgb(228, 224, 224)*/
input {
    width: 527px;
    height: 34px;
    display: flex;
    flex-direction: row-reverse;
    border-color: transparent;
    outline: none;
}
.container {
    display: flex;

}

img {
    position: absolute;
    right: 42.5%;
    bottom: 64%;
}