#search {
    position: absolute;
    right: 34%;
    bottom: 56%;
    width: 582px;
    height: 44px;
    outline: 1px solid rgb(228, 224, 224);
    border-radius: 25px;
}
/*rgb(228, 224, 224)*/
input {
    width: 527px;
    height: 34px;
    float: right;
    border-color: transparent;
    /*outline: 1px solid rgb(26, 24, 24);*/
    outline: none;
}
#search-icon-container {
    position: absolute;
    right: 95%;
    bottom: 20%;
    size: 100px;
}

img {
    position: absolute;
    right: 42.5%;
    bottom: 64%;
}

button {
    border-radius: 4px;
    border-color: transparent;
    cursor: pointer;

}

body {
    font-family: arial, sans-serif;
    font-size: 14px;
    color: #222;
}